<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hotel Booking System</title>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="header">
        <h1>Hotel Booking System</h1>
        <a href="booking-history.html" class="nav-btn">Booking History</a>
    </header>

    <div id="hotel-list"></div>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Our JavaScript -->
    <script type="module" src="../js/main.js"></script>
</body>
</html>